<div class="content" fxLayout="row wrap" fxLayoutAlign="start stretch" fxLayoutGap="16px grid">
  <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let contact of dataservice.contacts">
    <mat-card class="mat-elevation-z4">
      <!--<mat-card-title>{{contact.role.replace('_', ' ') | titlecase }}</mat-card-title>-->
      <mat-card-header>
        <mat-icon mat-card-avatar *ngIf="contact.type.toLowerCase() === 'person'">person</mat-icon>
        <mat-icon mat-card-avatar *ngIf="contact.type.toLowerCase() === 'organization'">group</mat-icon>
        <mat-icon mat-card-avatar *ngIf="contact.role.toLowerCase().includes('patient')">person</mat-icon>
        <mat-icon mat-card-avatar *ngIf="contact.role.toLowerCase().includes('catering')">food_bank</mat-icon>
        <mat-icon mat-card-avatar *ngIf="contact.role.toLowerCase().includes('physician')">medical_services</mat-icon>
        <mat-icon mat-card-avatar *ngIf="contact.role.toLowerCase().includes('ologist')">medical_services</mat-icon>
        <mat-icon mat-card-avatar *ngIf="contact.role.toLowerCase().includes('caregiver')">medical_services</mat-icon>
        <mat-icon mat-card-avatar *ngIf="contact.role.toLowerCase().includes('nurse')">medical_services</mat-icon>
        <mat-icon mat-card-avatar *ngIf="contact.role.toLowerCase().includes('dietician')">fastfood</mat-icon>
        <mat-icon mat-card-avatar *ngIf="contact.role.toLowerCase().includes('social worker')">psychology</mat-icon>
        <mat-icon mat-card-avatar *ngIf="contact.role.toLowerCase().includes('pharmacist')">medical_services</mat-icon>

        <mat-card-title>{{contact.name}}</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <table>
          <tr>
            <td style="font-weight:bold">Role:</td><td>{{contact.role}}</td>
          </tr>
          <tr>
            <td style="font-weight:bold">Phone:</td><td>{{contact.phone}}</td>
          </tr>
          <tr>
            <td style="font-weight:bold">Email:</td><td>{{contact.email}}</td>
          </tr>
          <tr>
            <td style="font-weight:bold">Address:</td><td>{{contact.address}}</td>
          </tr>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
</div>

